include partials/landingheader

block content

	//- movie details 
	div(class="flexcontainer")
		div(class="flexitem moviequotelarge" id="moviequote") "#{result[quiz].moviequote}"

	div(class="flexcontainer")
		div(class="flexitem movie-name-year" id="movie-name" style="display: none;") #{result[quiz].moviename}, #{result[quiz].year} - #{result[quiz].screenwriter}

	//- display information to user 
	div(class="flexcontainer" id="message-block" style="visibility: hidden;")
		div(class="flexitem")
			h4(id="usermessage" class="ui white quizmessage") 

	//- multiple choice buttons
	div(class="nonflex" id="userinput")
		div(class="flexitem moviename ui inverted button white") #{result[0].moviename}
		div(class="flexitem moviename ui inverted button white") #{result[1].moviename}
		div(class="flexitem moviename ui inverted button white") #{result[2].moviename}
		div(class="flexitem moviename ui inverted button white") #{result[3].moviename}

	//- Next move
	div(class="flexcontainer" id="right-answer-block" style="display: none;")
		div(class="flexitem")
			a(href="/" class="ui button green flexbutton") Guess Another
			a(href="/moviequotes" class="ui button green flexbutton") View Movie Quotes

	//- hidden field to capture user input
	input(id="user-guess" type="hidden" value=result[quiz].moviename)
    
//- Add js script files  
script(src="/javascripts/landing.js" type="text/javascript")