include partials/landingheader

block content
	//- movie details 
	if result.length !== 0
		div(class="flexstretch")
			div(class="flexitem moviequotelarge" id="moviequote") "#{result[quiz].moviequote}"

		div(class="flexcontainer" )
			div(class="flexitem movie-name-year" id="movie-name" style="visibility: hidden;") #{result[quiz].moviename}, #{result[quiz].year} - #{result[quiz].screenwriter}

		//- display information to user 
		div(class="flexcontainer" id="message-block" style="visibility: hidden;")
			div(class="flexitem")
				h4(id="usermessage" class="ui white quizmessage") 

		//- multiple choice buttons
		div(class="flexstretch" id="userinput" style="display: block;")
			div(class="flexitem moviename ui inverted button white") #{result[0].moviename}
			div(class="flexitem moviename ui inverted button white") #{result[1].moviename}
			div(class="flexitem moviename ui inverted button white") #{result[2].moviename}
			div(class="flexitem moviename ui inverted button white") #{result[3].moviename}

		//- Next move
		div(class="flexstretch" id="right-answer-block" style="display: none;")
			a(href="/" class="flexitem ui button green flexbutton") Guess Another
			a(href="/moviequotes" class="flexitem ui button green flexbutton") View Movie Quotes

		//- hidden field to capture user input
		input(id="user-guess" type="hidden" value=result[quiz].moviename)
	else
		div(class="flexcontainer")
			div(class="flexitem") 
				div(class="moviequotelarge" id="moviequote") Welcome to Name That Movie
    
//- Add js script files  
script(src="/javascripts/landing.js" type="text/javascript")