include partials/header

block content

  div(class="bg")
    div(class="menu") 
      img(src="/images/namethatmovielight.png" width="170" height="49")
    div(class="landing-container")
      //- Quote 
      div(class="moviequote default-grey") "#{result[quiz].moviequote}"
      
      //- Format: Movie name, year made - writer (hidden by default)
      i(class="hand point right icon red" id="incorrectanswer" style="visibility:hidden") 
      i(class="thumbs up right icon green" id="rightanswer" style="visibility:hidden") 
      div(id="movie-name" class="movie-name-year default-grey" style="visibility:hidden") #{result[quiz].moviename}, #{result[quiz].year} - #{result[quiz].screenwriter}

      input(id="user-guess" type="hidden" value=result[quiz].moviename)
      
      //- Display 4 possible answers (displayed by default)
      div(class="movie-user-answer" style="display:block" id="userinput")
        form(class="check-user-answer" action="/")
          div(class="moviename ui primary button") #{result[0].moviename}
          div(class="moviename ui primary button") #{result[1].moviename}
          div(class="moviename ui primary button") #{result[2].moviename}
          div(class="moviename ui primary button") #{result[3].moviename}

      //- Display right answer block and next steps (hidden by default)
      div(class="movie-user-answer" style="display:none" id="right-answer-block")
        p(id="message" class="default-grey") Correct! Guess another movie or view movie quotes?
        a(href="/" class="ui primary button") Guess Another
        a(href="/moviequotes" class="ui primary button") View Movie Quotes
      
      //- Display wrong answer block (hidden by default)
      div(class="movie-user-answer" style="display:none" id="wrong-answer-block")
        p(id="message" class="default-grey") Wrong! Try again or get answer.
        form(class="check-user-answer")
          button(type="button" onclick="guessAgain();" class="ui primary button") Guess Again
        form(class="check-user-answer" action="/")
          button(type="button" onclick="displayAnswer();" class="ui primary button") Get Answer

//- Add js script files  
script(src="/javascripts/landing.js")