include ../partials/header
include ../partials/menu

block content
    div(class="ui main text container segment")
        div(class="ui huge header") Edit #{moviequotes.moviename} Quote
        form(class="ui form" action="/moviequotes/" + moviequotes.id + "?_method=PUT" method="POST")
            div(class="field")
                div(class="ui pointing below label") Edit the movie name
                input(type="text" name="moviename" required value=moviequotes.moviename) 
            div(class="field")
                div(class="ui pointing below label") Edit the year movie was made
                input(class="ui input" type="text" name="year" required value=moviequotes.year) 
            div(class="field")
                div(class="ui pointing below label") Edit the movie quote
                textarea(rows="2" name="moviequote" required) #{moviequotes.moviequote}
            div(class="field")
                div(class="ui pointing below label") Edit the screenwriters name. If multiple screenwriters, separate each name with a comma
                input(type="text" name="screenwriter" required value=moviequotes.screenwriter) 
            div(class="field")
                div(class="ui pointing below label") Edit the movie image URL (optional)
                input(type="text" name="movieimage")
            input(class="ui red basic button" type="submit")