include ../partials/header
include ../partials/menu

block content
	div(class="ui container movie-container")
		//div(class="header")
		div(class="leftrightfloatblock")
			span(class="leftfloat")
				a(href="javascript:history.back()" class="ui green left floated link")
					i(class="hand point left outline large icon")
					div(class="icon-next") Back
			span(class="rightfloat")
				form(class="ui form" action="/searchresult" method="POST")
					div(class="icon-next")
						div(class="ui mini icon input")
							a(href="/search")
							input(type="text" name="searchcriteria" placeholder="Search")
							i(class="inverted search icon green link")
						if currentuser
							a(href="/moviequotes/new" class="ui green mini button right floated") New Movie Quote
						//-div(class="ui large header green right floated") Search Results
		div(class="horizontal-line")
			div(class="spacetop")
				i(class="angle right large icon")
				if moviequotes
					h5(class="icon-next") #{moviequotes.length} results returned
				else
					h5(class="icon-next") 0 results returned
		form(class="ui form" action="/search" method="POST")
			div(class="spacetop")
				if moviequotes
					each moviequote in moviequotes
						div(class="resultfield")
							a(href="/moviequotes/" + moviequote._id class="link")
								p #{moviequote.moviename}
						div(class="resultfield")
							p "#{moviequote.moviequote}"
						div(class="resultfield")
							p #{moviequote.year}
						div(class="resultfield")
							p #{moviequote.screenwriter}
						div(class="horizontal-line")
						div(class="spacetop")

include ../partials/footer