include ../partials/header
include ../partials/menu

block content
    
    div(class="ui container new-container")
        //- back/delete/edit buttons
        div(class="likefavoriteblock")
            span(class="leftlike")
                //- div(class="ui large header green") "#{moviequotes.moviequote}"
                a(href="/moviequotes" class="ui green left floated link") 
                    i(class="hand point left outline large icon") 
                    div(class="icon-next") Back 
            span(class="rightfavorite")
                form(class="delete-form" action="/moviequotes/" + moviequotes.id + "?_method=DELETE" method="POST")
                    button(class="ui green right floated mini button") Delete
                    a(href="/moviequotes/" + moviequotes.id + "/edit" class="ui green mini right floated button") Edit
        div(class="horizontal-line")
        //- Main content
        div(class="test")
            div(class="itemMovieQuote") 
                div(class="moviequotecoll default-grey") "#{moviequotes.moviequote}"
        div(class="test")
            i(class="video icon grey")
            div(class="icon-next movie-name-year default-grey") #{moviequotes.moviename}, #{moviequotes.year}
        div(class="test")
            i(class="pencil alternate icon default-grey") 
            div(class="icon-next movie-screenwriter default-grey") #{moviequotes.screenwriter}
        div(class="horizontal-line")
        //- Comments]
        div(class="ui comments")
            h3(class="ui dividing default-grey") Comments
            each comment in moviequotes.comments
                div(class="comment")
                    div(class="content")
                        a(class="author default-grey link") #{comment.author}
                        div(class="metadata")
                            span(class="date" id="createdDate") #{formatDate(comment.dateCreated)}
                        div(class="text") #{comment.commenttext}
                        div(class="field")
                            form(class="delete-form" action="/moviequotes/" + moviequotes.id + "/comments/" + comment.id + "?_method=DELETE" method="POST")
                                button(id="buttonhidden" type="submit" value="Delete Comment" title="Delete Comment")
                                    i(class="window close green large icon") 
                                    div(class="icon-next link") Delete Comment 
            form(class="ui form" action="/moviequotes/" + moviequotes._id + "/comments" method="POST")
                div(class="field")
                    input(type="hidden" name="moviequoteid" value=moviequotes._id)
                    textarea(rows="2" name="moviecomment")
                div(class="field")
                    input(class="ui green mini button right floated" type="submit" value="Add Comment")
include ../partials/footer