include ../partials/header
include ../partials/menu

block content
    div(class="formcontainer")
        div(class="leftrightfloatblock")
            span(class="leftfloat")
            span(class="rightfloat")
                form(class="ui form" action="/searchresult" method="POST")
                    div(class="ui mini icon input")
                        a(href="/search")
                        input(type="text" name="searchcriteria" placeholder="Search")
                        i(class="inverted search icon link")
                    div(class="spacer")
        //- back/delete/edit buttons
        div(class="leftrightfloatblock")
            div(class="leftfloat")
                a(href="/moviequotes" class="leftfloat link") 
                    i(class="hand point left outline large icon") 
                    div(class="icon-next") Back 
            div(class="rightfloat")
                form(class="delete-form" action="/moviequotes/" + moviequotes.id + "?_method=DELETE" method="POST")
                    if currentuser && moviequotes.author.id.equals(currentuser._id)
                        button(class="bluebuttonsmall rightfloat") Delete
                        a(href="/moviequotes/" + moviequotes.id + "/edit" class="bluebuttonsmall rightfloat") Edit
        div(class="horizontal-line")
        //- Main content
        div(class="showfield")
            div(class="itemMovieQuote") 
                div(class="moviequotemedium default-grey") "#{moviequotes.moviequote}"
        div(class="showfield")
            i(class="video icon grey")
            div(class="icon-next movie-name-year default-grey") #{moviequotes.moviename}, #{moviequotes.year}
        div(class="showfield")
            i(class="pencil alternate icon default-grey") 
            div(class="icon-next movie-screenwriter default-grey") #{moviequotes.screenwriter}
        div(class="submitblock")
            i(class="user icon")
            div(class="icon-next link")  Submitted by #{moviequotes.author.username}
        div(class="horizontal-line")
        //- Comments]
        div(class="ui comments")
            h3(class="ui dividing default-grey") Comments
            if moviequotes.comments.length === 0
                if currentuser
                    p Add a new comment.
                else
                    p No comments yet. #[a(href="/login" class="link") Sign in] to add a comment.
            else
                each comment in moviequotes.comments
                    div(class="")
                        div(class="")
                            div(class="flexcomments")
                                div(class="item")
                                    img(src="/images/icons8-user-photo-50.png")
                                div(class="item")
                                    a(class="author default-grey link") #{comment.author.username}
                                div(class="item")
                                    div(class="date metadata" id="createdDate") #{formatDate(comment.dateCreated)}
                            div(class="commentfield") #{comment.commenttext}
                            form(class="delete-form" action="/moviequotes/" + moviequotes.id + "/comments/" + comment.id + "?_method=DELETE" method="POST")
                                if currentuser && comment.author.id.equals(currentuser._id)
                                    button(id="buttonhidden" type="submit" value="Delete Comment" title="Delete Comment")
                                        div(class="link") Delete Comment 
                    div(class="horizontal-line")
            form(class="ui form" action="/moviequotes/" + moviequotes._id + "/comments" method="POST")
                if currentuser
                    div(class="field")
                        input(type="hidden" name="moviequoteid" value=moviequotes._id)
                        textarea(rows="3" name="moviecomment")
                    div(class="field")
                        button(class="bluebuttonsmall floatright" type="submit" value="Post Comment") Post Comment
                    
include ../partials/footer